# Environment
.env
*.env
.env.*
!example.env  # keep a template if you have one

# Virtual Environment
venv/
.env/
env/
.venv/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Database files
*.db
*.sqlite3

# Django specific
/staticfiles/
/media/
/*.log
*.pot
*.py[cod]
local_settings.py

# IDE / Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Testing & coverage
.coverage
htmlcov/
*.cover
*.log
pytest_cache/
.tox/
.mypy_cache/

# Docker / Build artifacts
build/
dist/
*.egg-info/
