@import "tailwindcss";
@plugin './hero.js';

/* Note: You may need to change the path to fit your project structure */
@source './../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@source ".";

@custom-variant dark (&:is(.dark *));

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}
